{% extends '::base.html.twig' %}


{% block body %}
<h1>Write Message to {{ to_user.username }}:</h1>
    <form action="{{ path('project_portal_new_message', { 'user_id': user_id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
		</br>
        <input type="submit" class="btn btn-info btn-xs" />
    </form>
{% endblock %}
