{% extends '::base.html.twig' %}


{% block body %}
<h1>Add Post:</h1>
    <form action="{{ path('project_portal_add') }}" method="post" {{ form_enctype(form) }} role="form">
	<div class="form-group">
        {{ form_widget(form) }}
	</div>
        <input type="submit" class="btn btn-success btn-xs"/>
    </form>
{% endblock %}
