{% extends '::base.html.twig' %}


{% block body %}
    <div class="well">
		<p>
        <h1> Imie Usera: {{ user.username }}! </h1>
		</br>
		E-mail usera: {{ user.email }}
		</p>
	</div>
{% endblock %}
