{% extends '::base.html.twig' %}


{% block body %}
<div class="container">
<div class="hero-unit">
  <h1>Welcome</h1>
  <p>Register or Login to start!</p>
  <p>
    <a href="./register" class="btn btn-primary btn-large">
      Register
    </a>
  </p>
    <p>
    <a href="./login" class="btn btn-primary btn-large">
      Login
    </a>
  </p>
</div>
</div>
{% endblock %}
