{% extends '::base.html.twig' %}

{% block body %}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<div class="col-md-offset-5 col-md-3">
<h1>Login:</h1>
<form action="{{ path('login_check') }}" method="post">
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control input-sm chat-input" placeholder="username" />
	</br>
    <input type="password" id="password" name="_password" class="form-control input-sm chat-input" placeholder="password" />
	</br>
	<input type="hidden" name="_target_path" value="/index" />
    <button class="btn btn-primary btn-md" type="submit">Login</button>
</form>
</div>
{% endblock %}